.search-bar{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.search-bar .logo{
    font-size: 2rem;
    color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(131, 131, 131);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar h1{
    color: navy;
    margin:0;
    font-weight: normal;
}

.search-bar .input-group{
    box-shadow: 0 1px 3px -1px rgb(128, 128, 128);;
}

.search-bar .input-group-text{
    background-color: white;
    padding-left:30px;
    cursor: pointer;
}

.search-bar .form-control{
    border-left:none;
    padding-top: 10px;
    padding-bottom: 10px;
}


.accordion-button:not(.collapsed) {
    background-color: red;
    color: white;
}

.accordion-collapse{
    background-color: beige;
}



@media screen and (min-width:768px) {
    .search-bar{
        background-image: url("../img/youtube.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .search-bar .input-group{
        width:600px;
    }
    
}