body{
    background-color: rgba(141, 200, 245, 0.873);
    padding:20px;
}

.register-form .card-body{
   padding: 30px 50px;
}

.register-form .avatar{
    background-color: rgb(28, 98, 195);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 2.3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}

.register-form.card{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.register-form form{
    margin:50px 0 20px 0;
}

.register-form form button,
.register-form form input{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 8px 25px;
}

.register-form .card-footer{
    background: none;
    text-align: center;
    padding:30px;

}

.register-form .card-footer h5{
    color: gray;
}

.register-form .card-footer .icons{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 20px;
}

.register-form .card-footer .icons a{
    border:1px solid rgb(28, 98, 195);
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}