:root{
    --primary: rgb(115, 168, 28);
}


.text-primary{
    color: var(--primary) !important;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.link-primary{
    color: var(--primary) !important;
}

.rounded{
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}